*{
    margin: 0;
    font-family: 'Poppins', sans-serif;
    color:#FFD700;
}

body{
    background-color: #1B263B;
}

.card{
    display: flex;
    position: absolute;
    background-color:#415a77af;
    width: 75%;
    height: 650px;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    border-radius: 20px;
}


.card_img{
    width: 45%;
    height: 100%;
    object-fit: cover;
    border-radius:20px 0 0 20px; 
}

.btn{
    text-transform: capitalize;
    font-size: 20px;
    color:#F4D35E;
    text-decoration: none;
    border: solid #F4D35E 2px;
    border-radius:10px;
}

.btn:hover{
    background-color:#ffffff25
}

.btn.back{
    position: absolute;
    padding: 10px 25px 10px 15px;
    top: 15px;
    left: 15px;
    display: inline-flex;
    align-items: center;
    gap: 1px;
    text-decoration: none;
}

.card_text{
    position: relative;
    width: 55%;
}



.title{
    font-size: 32px; 
    font-weight: 700;
}

.text{
    margin-top: 15px;
    font-size: 18px;
    font-weight: 400;
}


.box{
    margin-top: 15px;
    border:solid #f2c10e 2px;
    display: flex;
    flex-direction: column;
    border-radius: 10px;
    padding: 10px;
}


.name{
    font-size: 15px;
    margin-bottom: 5px;
}

.mistake{
    color:#ec9494;
    font-size: 15px;
}


.input{
    background-color:transparent;
    border:solid #f2c10e 2px;
    font-size: 16px;
    margin-top: 3px;
    padding: 5px;
}

input:focus {
  outline: none;
  box-shadow: 0 0 5px 1px rgb(218, 218, 142);
}

.password_block{
    position: relative;
}

.password_block .input{
    width: 85%;
}

.eye{
    position: absolute;
    right: 10px;
    top: 50%;
    transform: translateY(-50%);
    cursor: pointer;
    color: yellow;
    font-size: 20px;
    line-height: 1;
}

.btn.submit{
    padding: 10px 20px;
    display: block;
    margin: 0 auto;
    margin-top: 20px;
    background-color:transparent;
    cursor: pointer;
}

.btn.submit:hover{
    background-color:rgba(255, 255, 255, 0.3);
}


.singup_card{
    width: 80%;
    position: absolute;
    display: block;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}