*{
    margin: 0;
    font-family: 'Poppins', sans-serif;
    color:#F4D35E;
}

body{
    background-color: #1B263B;
}

.card{
    display: flex;
    position: absolute;
    background-color:#415a77af;
    width: 60%;
    height: 600px;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    border-radius: 20px;
}


.card_img{
    width: 50%;
    height: 100%;
    object-fit: cover;
    border-radius:20px 0 0 20px; 
}


.singup_card{
    display: none;
}

.btn{
    text-transform: capitalize;
    font-size: 20px;
    color:#F4D35E;
    text-decoration: none;
    border: solid #F4D35E 2px;
    border-radius:10px;
}

.btn:hover{
    background-color:#ffffff25
}

.btn.back{
    position: absolute;
    padding: 10px 25px 10px 15px;
    top: 15px;
    left: 15px;
    display: inline-flex;
    align-items: center;
    gap: 1px;
    text-decoration: none;
}

.card_text{
    position: relative;
    width: 55%;
}

.singin_card{
    width: 80%;
    position: absolute;
    display: block;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.text{
    margin-top: 15px;
    font-size: 18px;
    font-weight: 400;
}

.singin_form{
    margin-top: 10px;
}

.singin_box{
    margin-top: 15px;
    border:solid #f2c10e 2px;
    display: flex;
    flex-direction: column;
    border-radius: 10px;
    padding: 10px;
}

.name{
    font-size: 15px;
    margin-bottom: 5px;
}

.input{
    background-color:transparent;
    border:solid #f2c10e 2px;
    font-size: 16px;
    padding: 5px;
}

.password_block{
    position: relative;
}

.password_block .input{
    width: 85%;
}

.eye{
    position: absolute;
    right: 10px;
    top: 50%;
    transform: translateY(-50%);
    cursor: pointer;
    color: yellow;
    font-size: 20px;
    line-height: 1;
}
