*{
    margin: 0;
    font-family: 'Poppins', sans-serif;
    color:white;
}
body{
    background-color: #2c4985;
}

.header{
    padding: 15px 6%;
    background-color:rgba(255, 255, 255, 0.207);
    width: 88%;
    align-items:center;
    z-index: 10;
}

.btn{
    padding: 8px 35px 8px 35px;
    color: #fff;
    background-color: transparent;
    border: solid #fff;
    border-radius: 10px;
    z-index: 1;
    cursor: pointer;
    text-decoration: none;
}

.btn:hover{
    background-color:#ffffff64;
}

.logo{
    font-size: 26px;
    font-weight: 700;
    user-select: none;
    text-decoration: none;
}

.calc_section{
    background-color:rgba(255, 255, 255, 0.197);
    min-height: 500px;
    width: 78%;
    margin: 30px auto;
    padding: 20px;
}

.section_header{
    display: flex;
    justify-content: space-between;
}

.calc_title{
    font-size: 30px;
}

.calc_btn{
    font-size: 20px;
}

.forms{
    margin-top: 15px;
}

.pet{
    display: flex;
    width: 80%;
    border:solid white 2px;
    border-radius:20px;
    padding: 25px;
    margin: 0 auto;
}

.pet_form{
    width: 50%;
    display: flex;
    flex-direction: column;
    
}

.form_lable{
    font-size: 18px;
    color: rgba(255, 255, 255, 0.664);
    padding-top: 5px;
    user-select: none;
}
.form_lable:first-child{
    padding-top: 0;
}

.form_input{
    padding-top: 2px;
    background-color:transparent;
    border:solid rgba(255, 255, 255, 0.293) 2px;
    border-radius:5px;
    padding: 5px;
    font-size: 18px;
    width: 80%;
}

.form_btn{
    display: block;
    width: 40%;
    margin-left: 20%;
    margin-top: 15px;
    font-size: 18px;
}




/*Footer*/
.footer_section{
    background-color:#101f32;
    align-items:center;
    padding:20px 6%;
    display: flex;
    justify-content: space-between;
}
.link{
    text-decoration: none;
    font-size: 1.4rem;
    letter-spacing: 1px;
    margin: 10px 0;
    transition: color 0.3s ease;
}

.link:hover{
    text-decoration: underline;
    text-decoration-thickness: 3px;
    text-underline-offset: 5px;
}

.links{

    display: flex;
    gap: 30px;
}

.footer_text{
    font-size: 16px;
    width: 30%;
}

.social_media{
    display: flex;
    gap: 30px;
}

.social_media .btn{
    padding: 0;
    width: 40px;
    height: 40px;
    position: relative;
    border:none;
}

.icon{
    height: 100%;
}