*{
    margin: 0;
    font-family: 'Poppins', sans-serif;
    color:white;
}
body{
    background-color: #0b1f45;
}

.header{
    padding: 15px 6%;
    background-color:rgba(255, 255, 255, 0.207);
    width: 88%;
    align-items:center;
    z-index: 10;
}

.btn{
    padding: 8px 35px 8px 35px;
    color: #fff;
    background-color: transparent;
    border: solid #fff;
    border-radius: 10px;
    z-index: 3;
    cursor: pointer;
    text-decoration: none;
}

.btn:hover{
    background-color:#ffffff64;
}

.logo{
    font-size: 26px;
    font-weight: 700;
    user-select: none;
    text-decoration: none;
}

.photos_section{
    width: 80%;
    min-height: 650px;
    display: block;
    background-color:#ffffff4f;
    padding: 30px;
    margin: 20px auto;
    border-radius:5px
}

.Title{
    margin-left: 10px;
}

.photos{
    padding-top: 10px;
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    justify-content: center;
    padding-bottom: 10px;
}

.picture{
    display: block;
    width: 300px;
    object-fit: cover;
    border-radius:10px
}

.spinner {
  border: 8px solid #f3f3f3;       
  border-top: 8px solid #3498db;   
  border-radius: 50%;              
  width: 60px;
  height: 60px;
  animation: spin 1s linear infinite;
  position: fixed;
  top: 50%;
  left:50%;
  transform: translate(-50%,-50%);            
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

.hidden{
    display: none;
}