*{
    margin: 0;
    font-family: 'Poppins', sans-serif;
    color:white;
}

/*Navigation*/

.header{
    position: fixed;
    padding: 10px 6%;
    display: flex;
    justify-content: space-between;
    background-color:rgba(255, 255, 255, 0.221);
    width: 88%;
    align-items:center;
    z-index: 10;
}

.logo{
    font-size: 26px;
    font-weight: 700;
    user-select: none;
}

.nav{
    display: flex;
    gap: 45px;
    align-items:center;
}



/*Buttons*/
.btn{
    padding: 8px 35px 8px 35px;
    color: #fff;
    background-color: transparent;
    border: solid #fff;
    border-radius: 10px;
    z-index: 1;
    cursor: pointer;
    text-decoration: none;
}

.btn:hover{
    background-color:#ffffff64;
}

.nav .btn{
    font-size: 20px;
}

/*First section*/

.main_section{
    position: relative;
   padding: 0 6%;
   background: url("./images/background.jpg") no-repeat center center;
   background-size: cover;
   min-height: 100vh;
   text-align: center;
}


.main_section .btn{
    margin-top: 30px;
    font-size: 30px;
    display: inline-block;
}

.title{
    font-size: 50px;
    font-weight: 600;
}

.text_box{
    position: absolute;
    display: block;
    max-width: 30%;
    right: 10%;
    top: 50%;
    transform: translateY(-50%);
}

.about_us_section{
    background-color:#1a273b;
    padding: 20px 6%;
}
.section_title_box{
    display: flex;
    justify-content: space-between;
    align-items:center;
}

.section_title{
    font-size: 30px;
    padding: 0 35px;
}

.section_title_box .btn{
    font-size: 20px;
}

.section_box{
    margin: 20px 0;
    display: flex;
    justify-content: space-around;
    align-items:center;
}

/*Second section 'About us'*/

.about_us_section .img{
    width: 35%;
    border-radius:20px
}

.text{
    line-height: 1.6;
    font-size: 20px;
    width: 55%;
}

/*Third section 'Animals'*/
.animals_section{
    background-color:#6589be;
    padding: 20px 6%;
}

.cards{
    margin: 25px 0;
    align-items:center;
    display: flex;
    justify-content: space-around;
    transition: all 0.5s ease;
}

.card{
    padding-bottom: 30px;
    border-radius:30px;
    background-color:#2a4c80;
    width: 22%;
    position: relative;
}

.card:hover{
    transform: translate(20px, -20px);
    box-shadow: -10px 10px 10px rgba(40, 40, 56, 0.696);
}

.card_img{
    width: 100%;
    height: 50%;
    border-radius:30px 30px 0 0;
}

.card_title{
    text-align: center;
    padding: 10px 0;
    font-size: 25px;
}

.card_text{
    padding: 0 20px;
}

/*Fourth section 'News'*/
.news_section{
    padding: 20px 6%;
    background-color:#3d5a86;
}

.news_items{
    padding: 20px 0;
    display: flex;
    justify-content: space-around;
}

.news_card{
    position: relative;
    max-width: 30%;
}

.news_img{
    width: 100%;
    height: 250px;
    border-radius:30px;
    object-fit: cover;
}

.news_link{
    color:#ffffff75;
    text-decoration: none;
    font-weight: 600;
    text-transform: capitalize;
    font-size: 30px;
    margin: 5px 10px;
}

.news_link:hover{
    color:#ffffff
}

.news_text{
    margin:5px 10px ;
}


/*Footer*/
.footer_section{
    background-color:#101f32;
    align-items:center;
    padding:20px 6%;
    display: flex;
    justify-content: space-between;
}

.links{
    display: flex;
    gap: 30px;
}

.footer_text{
    font-size: 16px;
    width: 30%;
}

.social_media{
    display: flex;
    gap: 30px;
}

.social_media .btn{
    padding: 0;
    width: 40px;
    height: 40px;
    position: relative;
    border:none;
}

.icon{
    height: 100%;
}